################################
# MethylScore configuration file
################################

### General options

# project folder (relative to folder of this config file, or absolute path)
PROJECT_FOLDER:     "testproject"

# sample sheet file (relative to folder of this config file, or absolute path)
SAMPLE_SHEET:       "samplesheet.txt"

# regions of interest in bed file format (relative to folder of this config file, or absolute path)
ROI:                ""

# Use the cluster?
CLUSTER:            1
CLUSTER_PROJECT:    ""
JOBID_TAIL:         ""

# Max number of CPUs to use/submit
THREADS:            3

# Output basic statistics?
STATISTICS:         1

# Perform read de-duplication?
DO_DEDUP:           1

# Dealing with human methylation data?
HUMAN:              0

# Force to re-run already computed steps?
FORCE_RERUN:        0

# Remove intermediate files?
REMOVE_INTMED_FILES:1



### DMR options:

# Percent MR frequency change (across all samples) leading to segment break
MR_FREQ_CHANGE:     20

# Upstream distance in bp to which MR frequency change is compared
MR_FREQ_DISTANCE:   30

# Minimum read coverage of cytosines within (candidate) DMRs:
DMR_MIN_COV:         3

# Minimum number of >= DMR_MIN_COV-covered cytosines within (candidate) DMRs in a single context:
DMR_MIN_C:           5

# Should DMRs be called separately for each sequence context (set to 1), or should DMRs be called
# on all contexts combined (set to 0)? Combined DMRs have consistent coordinates across contexts. 
# In case DMRS_PER_CONTEXT = 0, the two following parameters are used, in the other case the 
# context-specific parameters below.
DMRS_PER_CONTEXT:    1
# context-specific DMRs in these contexts will be determined:
DMR_CONTEXTS:        CG,CHG,CHH

# (only effective when DMRS_PER_CONTEXT=0):
CLUSTER_MIN_METH_DIFF: 10
CLUSTER_MIN_METH:      20

# Minimum methylation level differences per context between any pair of sample clusters 
# (only effective when DMRS_PER_CONTEXT=1)
CLUSTER_MIN_METH_DIFF_CG:  10
CLUSTER_MIN_METH_DIFF_CHG: 10
CLUSTER_MIN_METH_DIFF_CHH: 5

# Minimum methylation level of any sample cluster per context
# (only effective when DMRS_PER_CONTEXT=1)
CLUSTER_MIN_METH_CG:   20
CLUSTER_MIN_METH_CHG:  20
CLUSTER_MIN_METH_CHH:  15

# FDR cutoff
FDR_CUTOFF:          0.05

# Minimum fold change between clusters to call hDMRs:
HDMR_FOLD_CHANGE:    3

# Sliding window length determining segment to test
SLIDING_WINDOW_SIZE: 0

# Sliding window step size
SLIDING_WINDOW_STEP: 0

# Number of MR blocks per file
MR_BATCH_SIZE:       500



### MR options:

# minimum per-site coverage to consider
MIN_COVERAGE:       1

# don't span a region of this minimum size without covered cytosines, rather
# start separate HMM path
DESERT_SIZE:        100

# Minimum number of covered cytosines within MRs, turns off permutation test 
# (-1 for turning on the permutation test)
MR_MIN_C:           20

# merge MRs that are <MERGE_DIST> bp close to each other
MERGE_DIST:         30

# trim sites off both MR ends below this methylation level
TRIM_METHRATE:      10

# provide parameter file for calling MRs on all samples 
# (leave empty if it should be trained anew)
MR_PARAMS:          ""



### Consensus options:

# Minimum mapping quality of reads to consider (influenced by ploidy level!)
MIN_QUAL:           30

# Disregard first bases of each read for consensus calling
IGNORE_FIRST_BP:    3

# Disregard last bases of each read for consensus calling
IGNORE_LAST_BP:     1



### Paths to used programs

# path to bamtools
BAMTOOLS:           "bamtools"

# path to samtools
SAMTOOLS:           "bin_ext/st"

# python executable
PYTHON_PATH:        "python"

# path to all methylscore executables (relative to execution folder or absolute path)
BIN_PATH:           "bin"

# path to all methylscore scripts (relative to execution folder or absolute path)
SCRIPT_PATH:        "scripts"

# path to all external executables (relative to execution folder or absolute path)
EXTBIN_PATH:        "bin_ext"



### requested resources for cluster jobs per stage:

DEDUP_MEM:          10G
DEDUP_TIME:         00:20:00
CONSENSUS_MEM:      10G
CONSENSUS_TIME:     00:20:00
MATRIX_MEM:         10G
MATRIX_TIME:        00:20:00
MATRIXWG_MEM:       10G
MATRIXWG_TIME:      00:20:00
MRS_MEM:            10G
MRS_TIME:           00:20:00
DMRS_MEM:           10G
DMRS_TIME:          00:20:00
IGV_MEM:            4G
IGV_TIME:           00:20:00
