/*
 * -------------------------------------------------
 *  Nextflow config file for MethylScore pipeline
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

profiles {
  standard {
    includeConfig 'conf/mendel.config'
  }
  singularity {
    process.container = "/lustre/scratch/projects/becker_common/singularity_images/MethylScore.simg"
    includeConfig 'conf/singularity.config'
  }
  conda {
    process.conda = "$baseDir/environment.yaml"
    includeConfig 'conf/conda.config'
  }
}
