/*
 * -------------------------------------------------
 *  Nextflow config file for MethylScore pipeline
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

process.container = 'beckerlab/methylscore:dev'

manifest {
    homePage = 'https://github.com/Gregor-Mendel-Institute/MethylScore-nf'
    description = "A nextflow implementation of Computomics' MethylScore pipeline"
    name = 'MethylScore'
    version = '0.1.16-nf'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
}

// Default parameters
params {
  GENOME = false
  SAMPLE_SHEET = false
  BEDGRAPH = false
  METHYLPY = false
  PROJECT_FOLDER = "./results"
  METRICS = true

  HUMAN = false
  ROI = false

  STATISTICS = true
  IGV = false
  DO_DEDUP = true

  // DMR parameters
  DMR_CONTEXTS = "CG,CHG,CHH"
  DMRS_PER_CONTEXT = true
  CLUSTER_MIN_METH_DIFF_CG = 20
  CLUSTER_MIN_METH_DIFF_CHG = 20
  CLUSTER_MIN_METH_DIFF_CHH = 20
  CLUSTER_MIN_METH_CG = 20
  CLUSTER_MIN_METH_CHG = 20
  CLUSTER_MIN_METH_CHH = 20
  MR_FREQ_CHANGE = 20
  MR_FREQ_DISTANCE = 30
  CLUSTER_MIN_METH = 20
  CLUSTER_MIN_METH_DIFF = 20
  SLIDING_WINDOW_SIZE = 0
  SLIDING_WINDOW_STEP = 0
  DMR_MIN_C = 5
  DMR_MIN_COV = 3
  MR_BATCH_SIZE = 500
  HDMR_FOLD_CHANGE = 3
  FDR_CUTOFF = 0.05

  // Consensus parameters
  MIN_QUAL = 30
  IGNORE_OT = "0,0,0,0"
  IGNORE_OB = "0,0,0,0"

  // MR parameters
  MIN_COVERAGE = 1
  MR_MIN_C = 20
  DESERT_SIZE = 100
  TRIM_METHRATE = 10
  MERGE_DIST = 30
  MR_PARAMS = false
}

includeConfig 'conf/base.config'

profiles {
  local { process.executor = 'local' }
  cbe { includeConfig 'conf/cbe.config' }
  singularity { singularity.enabled = true }
  podman { podman.enabled =  true }
  docker { docker.enabled = true }
  testing { includeConfig 'conf/testing.config' }
}

if (params.METRICS) {
  timeline {
    enabled = true
    file = "${params.PROJECT_FOLDER}/MethylScore_timeline.html"
  }
  report {
    enabled = true
    file = "${params.PROJECT_FOLDER}/MethylScore_report.html"
  }
  trace {
    enabled = true
    file = "${params.PROJECT_FOLDER}/MethylScore_trace.txt"
  }
  dag {
    enabled = true
    file = "${params.PROJECT_FOLDER}/MethylScore_graph.png"
  }
}
