/*
 * -------------------------------------------------
 *  Nextflow config file for MethylScore pipeline
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

manifest {
    homePage = 'https://github.com/Gregor-Mendel-Institute/MethylScore-nf'
    description = "A nextflow implementation of Computomics' MethylScore pipeline"
    mainScript = 'main.nf'
    nextflowVersion = '0.30+'
}

env {
   PAR_TEMP = "${PWD}/work"
   PAR_GLOBAL_TMPDIR = "${PWD}/work"
}

profiles {
  standard {
    process.container = "/lustre/scratch/projects/becker_common/singularity_images/MethylScore.simg"
    includeConfig 'conf/mendel.config'
    includeConfig 'conf/singularity.config'
  }
  conda {
    process.conda = "$baseDir/environment.yaml"
    includeConfig 'conf/mendel.config'
    includeConfig 'conf/conda.config'
  }
}
