/* -------------------------------------------------
 * Nextflow config file for MethylScore
 * -------------------------------------------------
 */


env {
  LC_ALL = "C"
}

process {

  withName: BUILD {
  	cpus = 2
  	memory = { 4.GB * task.attempt }
  }

  withName: DEDUP {
  	cpus = 2
  	memory = { 4.GB * task.attempt }
  }

  withName: STATISTICS {
  	cpus = 1
  	memory = {512.MB * task.attempt }
  }

  withName: SPLIT {
  	cpus = 1
  	memory = { 4.GB * task.attempt }
  }

  withName: INDEX {
    cpus = 2
  	memory = { 4.GB * task.attempt }
  }

  withName: CALL_MRS {
  	cpus = 2
  	memory = { 4.GB * task.attempt }
  }

  withName: MATRIX_TO_IGV {
  	cpus = 1
  	memory = { 256.MB * task.attempt }
  }

  withName: SPLIT_MRS {
  	cpus = 1
  	memory = { 4.GB * task.attempt }
  }

  withName: CALL_DMRS {
  	cpus = 1
  	memory = { 2.GB * task.attempt }
  }

  withName: MERGE_DMRS {
  	cpus = 1
  	memory = { 128.MB * task.attempt }
  }

  errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}