/* -------------------------------------------------
 * Nextflow config file for MethylScore
 * -------------------------------------------------
 */

env {
  LC_ALL = "C"
}

process {

  container = { "quay.io/beckerlab/methylscore:${workflow.manifest.version}" }

  withLabel: resource_low {
    cpus   = 1
    memory = { 2.GB * task.attempt }
  }

  withLabel: resource_medium {
    cpus   = 2
    memory = { 6.GB * task.attempt }
  }

  withLabel: resource_high {
    cpus   = 4
    memory = { 12.GB * task.attempt }
  }

  errorStrategy = 'retry'
  maxRetries = 3
  maxErrors = '-1'
}
