/* -------------------------------------------------
 * Nextflow config file for CBE 
 * -------------------------------------------------
 */

singularity {
  enabled = true
  cacheDir = '/resources/containers'
}

executor {
	name = 'slurm'
	queueSize = 200
}

process {
  queue = { task.memory <= 170.GB ? 'c' : 'm' }
  clusterOptions = { task.time <= 8.h ? '--qos short': task.time <= 48.h ? '--qos medium' : '--qos long' }

  withName: BUILD {
  	cpus = 2
  	memory = { 1.GB * task.attempt }
  	time = { 12.h * task.attempt }
  }

  withName: DEDUP {
  	cpus = 1
  	memory = { 16.GB * task.attempt }
  	time = { 2.h * task.attempt }
  }

  withName: STATISTICS {
  	cpus = 1
  	memory = {512.MB * task.attempt }
  	time = { 1.h * task.attempt }
  }

  withName: SPLIT {
  	cpus = 1
  	memory = { 4.GB * task.attempt }
  	time = { 4.h * task.attempt }
  }

  withName: INDEX {
  	cpus = 4
  	memory = { 1.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }

  withName: CALL_MRS {
  	cpus = 1
  	memory = { 4.GB * task.attempt }
  	time = { 3.h * task.attempt }
  }

  withName: MATRIX_TO_IGV {
  	cpus = 1
  	memory = { 256.MB * task.attempt }
  	time = { 30.m * task.attempt }
  }

  withName: SPLIT_MRS {
  	cpus = 1
  	memory = { 1.GB * task.attempt }
  	time = { 1.h * task.attempt }
  }

  withName: CALL_DMRS {
  	cpus = 1
  	memory = { 1.GB * task.attempt }
  	time = { 30.min * task.attempt }
  }

  withName: MERGE_DMRS {
  	cpus = 1
  	memory = { 256.MB * task.attempt }
  	time = { 10.m * task.attempt }
  }

  errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}