/* -------------------------------------------------
 * Nextflow config file for charliecloud container engine 
 * -------------------------------------------------
 */

charliecloud {
  enabled = true
}

manifest {
  nextflowVersion = '>=20.12.0-edge'
}

env {
  PATH = "/opt/conda/envs/MethylScore/bin:$PATH"
}