/* -------------------------------------------------
 * Nextflow config file for EpiDiverse server 
 * -------------------------------------------------
 */

process {
  executor = 'slurm'
  queue = 'crunch'
}

executor {
  jobName = { "${task.name}".replaceAll("\\s","") }
  queueSize = 50
  submitRateLimit = '20 min'
  pollInterval = '30 sec'
}
