/* -------------------------------------------------
 * Nextflow config file for MENDEL
 * -------------------------------------------------
 */

env {
   TMPDIR = "${PWD}/work"
   _JAVA_OPTIONS="-Djava.io.tmpdir=${PWD}/work"
   PAR_TEMP = "${PWD}/work"
   PAR_GLOBAL_TMPDIR = "${PWD}/work"
}

process {
  executor = 'pbspro'
  module = 'Miniconda3:Singularity'
}
