/* -------------------------------------------------
 * Nextflow config file for MENDEL
 * -------------------------------------------------
 */

process {
  executor = 'pbs'
  cpus = { 2 * task.attempt }
  memory = { 8.GB * task.attempt }
  time = { 4.h * task.attempt }
  
  errorStrategy = { ( task.exitStatus == 143 || task.exitStatus == 137 ) ? 'retry' : 'finish' }
  maxRetries = 3
  maxErrors = '-1'
}
