/* -------------------------------------------------
 * Nextflow config file for testing 
 * -------------------------------------------------
 */

process {
    withName: 'MethylScore_mergeReplicates|MethylScore_deduplicate|MethylScore_callMRs|MethylScore_splitMRs' { 
	cpus = 2
	memory = 6.GB 
    }
}

params.SAMPLE_SHEET = params.BEDGRAPH ? 'https://github.com/Gregor-Mendel-Institute/test-data/raw/MethylScore/samplesheet_bedGraph.tsv' : 'https://github.com/Gregor-Mendel-Institute/test-data/raw/MethylScore/samplesheet.tsv'
params.GENOME = 'https://github.com/Gregor-Mendel-Institute/test-data/raw/MethylScore/ref.fasta'
