/* -------------------------------------------------
 * Nextflow config file for testing 
 * -------------------------------------------------
 */

executor.$local.cpus = 2
executor.$local.memory = '8 GB'

params.SAMPLE_SHEET = params.BEDGRAPH ? 'https://github.com/Gregor-Mendel-Institute/test-data/raw/MethylScore/samplesheet_bedGraph.tsv' : 'https://github.com/Gregor-Mendel-Institute/test-data/raw/MethylScore/samplesheet.tsv'
params.GENOME = 'https://github.com/Gregor-Mendel-Institute/test-data/raw/MethylScore/ref.fasta'